# Node / Vite
node_modules/
.pnpm-store/

# Vite build caches / TS build info
dist/
.vite/
temp/
*.local

tscache/
*.tsbuildinfo

# Env files
.env
.env.*
.env.example
# Editor directories and files

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
coverage/
*.tgz
.blackbox/

.error_supdabase_log.txt